@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans+Condensed:wght@300&family=Ubuntu:wght@300&display=swap');

:root {
    font-size: 16px;
}

html, body, section {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}


#background {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}


.home-button {
    position: fixed;
    font-family: 'Cabin', sans-serif;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    color: #ffffff;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    background-color: #734997e8;
}

.home-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/*

    Note: 
    Minimum height will be set
    to the screen height of an
    iPhone 5 (which is pretty small lol) 

*/

#main {
    width: 100vw;
    height: 100vh;
    min-height: 550px;
    min-width: 280px;
    top: 0;
    left: 0;
    background-color: #0d1b3383; 
    position: absolute;
    overflow: hidden;
}

#main-header {
    background-color: rgba(0, 0, 0, 0);
    height: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #e7e7e7;
}

#main-header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -10px;
}

#main-header > div > div {
    margin-top: calc(0.5vw + 0.7rem);
}

#name {
    font-family: 'Cabin', sans-serif;
    color: #fafafa;
    font-size: calc(2.2vw + 1.3rem);
}

#detail {
    font-family: 'Ubuntu', sans-serif;
    color: #719abb;
    font-size: calc(0.3vw + 1rem);
}

#image-container {
    max-height: calc(1rem + 5%);
}

#image-container > img {
    max-width: 100%;
    min-height: 10rem;
    height: 25vh;
    opacity: 90%;
    filter: brightness(90%) saturate(45%) hue-rotate(280deg);
}

#main-break {
    height: 5%;
    background-color: #734997e8;
    box-shadow: #73499783 0px 0px 10px 10px;
    filter: brightness(120%);
}

/*

    Note:
    Minimum height for main content
    is so that the grid has a minimum value!

*/

#main-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 14rem;
    height: 50%;
}

.button {
    background-image: linear-gradient(#2c3b4783, #1f262c9a 50%, #0d1b3379 50%, #0d1b3383);
    background-size: 100% 200%;
    transition: background-position .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #734997e8;
    overflow: hidden; 
}

.button > span {
    color: #fafafa;
    font-family: 'Cabin', sans-serif;
    font-size: calc(0.4vw + 1rem);
    margin: 1rem;
    filter: opacity(90%);
}

.button > svg {
    width: 24px;
    height: 24px;
    fill: #fafafa;
}

.button:hover {
    background-position: 0 -100%; 
    cursor: pointer;
}

.button:hover > span {
    filter: brightness(300%);
}

.button:hover > svg {
    filter: brightness(300%);
}

#bg-test {
    position: absolute;
    filter: hue-rotate(180deg) saturate(75%);
    background-image: url(../../img/bg_test.jpg);
    opacity: 20%;
    height: 45vh;
    width: 100%;
    background-size: cover;
    background-position: 50% 47%;
}
